<!DOCTYPE html>
<html>
<body>
  <h3> <%= capitalize(tracker.type) %>: <%= tracker.name %> </h3>
  <a href="https://twitter.com/<%=tweet.user.screen_name%>/status/<%=tweet.id_str%>"> <%= tweet.text %> </a>
</body>
</html>