<!DOCTYPE html>
<html>
<body>
<% if (influencers.length !== 0) { %>
  <h3> Influencers: </h3>
  <ul>
  <% influencers.forEach(function(influencer){ %>
    <% if (influencer.tweets.length > 0){ %>
      <li><a href="http://twitter.com/<%=influencer.screen_name%>"><%= influencer.name %></a>
        <ul>
      <% influencer.tweets.forEach(function(tweet){ %>
          <li>
            <a href="https://twitter.com/<%=influencer.name%>/status/<%=tweet.id_str%>"> <%= tweet.text %> </a>
          </li>
      <% }) %>
        </ul>
      </li>
    <% } %>
  <% }) %>
  </ul>
<% } %>

<% if (hashtags.length !== 0) { %>
  <h3> Hashtags: </h3>
  <ul>
  <% hashtags.forEach(function(hashtag){ %>
    <% if (hashtag.tweets.length > 0){ %>
      <li><%= hashtag.name %>
        <ul>
      <% hashtag.tweets.forEach(function(tweet){ %>
          <li>
            <a href="https://twitter.com/<%=tweet.user.screen_name%>"><%=tweet.user.screen_name%></a>
              <ul>
                <li>
                  <a href="https://twitter.com/<%=tweet.user.screen_name%>/status/<%=tweet.id_str%>"> <%= tweet.text %> </a>
                </li>
              </ul>
          </li>
      <% }) %>
        </ul>
      </li>
    <% } %>
  <% }) %>
  </ul>
<% } %>

<% if (mentions.length !== 0) { %>
  <h3> Mentions: </h3>
  <ul>
  <% mentions.forEach(function(mention){ %>
    <% if (mention.tweets.length > 0){ %>
      <li><%= mention.name %>
        <ul>
      <% mention.tweets.forEach(function(tweet){ %>
          <li>
            <a href="https://twitter.com/<%=tweet.user.screen_name%>"><%=tweet.user.screen_name%></a>
              <ul>
                <li>
                  <a href="https://twitter.com/<%=tweet.user.screen_name%>/status/<%=tweet.id_str%>"> <%= tweet.text %> </a>
                </li>
              </ul>
          </li>
      <% }) %>
        </ul>
      </li>
    <% } %>
  <% }) %>
  </ul>
<% } %>


</body>
</html>